<?xml version="1.0"?>
<config>
  <modules>
    <Gimmie_Webhooks>
      <version>1.0.0</version>
    </Gimmie_Webhooks>
  </modules>

  <global>

    <events>

      <controller_action_layout_generate_blocks_after>
        <observers>
          <Gimmie_Webhooks>
            <class>Gimmie_Webhooks_Model_hooks</class>
            <method>injectScripts</method>
            <type>singleton</type>
          </Gimmie_Webhooks>
        </observers>
      </controller_action_layout_generate_blocks_after>

      <customer_register_success>
        <observers>
          <Gimmie_Webhooks>
            <class>Gimmie_Webhooks_Model_hooks</class>
            <method>dispatchRegisterSuccess</method>
            <type>singleton</type>
          </Gimmie_Webhooks>
        </observers>
      </customer_register_success>

      <customer_login>
        <observers>
          <Gimmie_Webhooks>
            <class>Gimmie_Webhooks_Model_hooks</class>
            <method>dispatchLoginSuccess</method>
            <type>singleton</type>
          </Gimmie_Webhooks>
        </observers>
      </customer_login>

      <catalog_controller_product_view>
        <observers>
          <Gimmie_Webhooks>
            <class>Gimmie_Webhooks_Model_hooks</class>
            <method>dispatchViewItem</method>
            <type>singleton</type>
          </Gimmie_Webhooks>
        </observers>
      </catalog_controller_product_view>

      <checkout_onepage_controller_success_action>
        <observers>
          <Gimmie_Webhooks>
            <class>Gimmie_Webhooks_Model_hooks</class>
            <method>dispatchCheckoutItem</method>
            <type>singleton</type>
          </Gimmie_Webhooks>
        </observers>
      </checkout_onepage_controller_success_action>

      <sales_order_payment_pay>
        <observers>
          <Gimmie_Webhooks>
            <class>Gimmie_Webhooks_Model_hooks</class>
            <method>dispatchPaidItem</method>
            <type>singleton</type>
          </Gimmie_Webhooks>
        </observers>
      </sales_order_payment_pay>

      <!-- Cart experiment -->
      <checkout_cart_add_product_complete>
        <observers>
          <Gimmie_Webhooks>
            <class>Gimmie_Webhooks_Model_hooks</class>
            <method>dispatchUpdateCart</method>
            <type>singleton</type>
          </Gimmie_Webhooks>
        </observers>
      </checkout_cart_add_product_complete>

      <sales_quote_remove_item>
        <observers>
          <Gimmie_Webhooks>
            <class>Gimmie_Webhooks_Model_hooks</class>
            <method>dispatchUpdateCart</method>
            <type>singleton</type>
          </Gimmie_Webhooks>
        </observers>
      </sales_quote_remove_item>

    </events>

    <models>
      <webhooks>
        <class>Gimmie_Webhooks_Model</class>
        <resourceModel>webhooks_resource</resourceModel>
      </webhooks>
      <webhooks_resource>
        <class>Gimmie_Webhooks_Model_Resource</class>
        <entities>
          <application>
            <table>webhooks_application</table>
          </application>
        </entities>
      </webhooks_resource>
    </models>

    <resources>
      <webhooks_setup>
        <setup>
          <module>Gimmie_Webhooks</module>
          <class>Gimmie_Webhooks_Model_Resource_Setup</class>
        </setup>
      </webhooks_setup>
    </resources>

    <helpers>
      <gimmie_webhooks>
        <class>Gimmie_Webhooks_Helper</class>
      </gimmie_webhooks>
    </helpers>

  </global>

  <frontend>
    <routers>
      <webhooks>
        <use>standard</use>
        <args>
          <module>Gimmie_Webhooks</module>
          <frontName>webhooks</frontName>
        </args>
      </webhooks>
    </routers>
  </frontend>

  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Gimmie_Webhooks after="Mage_Adminhtml">Gimmie_Webhooks_Adminhtml</Gimmie_Webhooks>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>

</config>
